body {
  background: #333;
  color: #fff;
  font: 15px/1.5 "Trebuchet MS", sans-serif;
}

h2 {
  margin: 1rem 0 1rem;
}

main label {
  min-width: 5rem;
  display: inline-block;
}

textarea {
  display: block;
  width: 100%;
  min-height: 5rem;
}

pre {
  white-space: pre-wrap;
}

p {
  font-size: 13px;
}

a {
  color:beige;
}